@font-face {
  font-family: "Merienda";
  src: local("Merienda"),
   url('../fonts/Merienda-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/NotoSansKR-Medium.woff2') format('woff2'),
         url('../fonts/NotoSansKR-Medium.woff') format('woff');
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
         url('../fonts/Roboto-Medium.woff') format('woff');
  }
  
  .font1 {
    background-color: green;
    font-family: "Roboto";
  }
  .font2 {
    background-color: red;
    font-family: "Itim";
  }

  .description{
    font-family: "Merienda", Helvetica, Arial;
    font-size: 20px;
  }